<% debugger; %>

<%
function formatDate(timestamp) {
  const d = new Date(timestamp)
  const s = d.getDate() + '/' + d.getMonth() + '/' + d.getFullYear() + ' '
        + d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds()
  return s
}

function formatTime(t0, t1) {
  const delta = Math.abs(t1 - t0) / 1000
  const days = Math.floor(delta / 86400)
  const hours = Math.floor(delta / 3600) % 24
  const minutes = Math.floor(delta / 60) % 60
  const seconds = delta % 60
  
  let s = days > 0 ? days + ' days, ' : ''
  s += hours > 0 ? hours + 'h, ' : ''
  s += minutes > 0 ? minutes + 'min, ' : ''
  s += seconds > 0 ? seconds + 's' : ''
  return s
}
%>

<div class="card" style="">
  <div class="card-body">
    <h5 class="card-title"><%= name %></h5>
    <p class="card-text mb-0 pb-0">
      START: <%= formatDate(start_time) %> &bullet;
      END: <%= formatDate(end_time) %>
    </p>
    <p class="card-text mt-0 pt-0">
      Elapsed Time: <%= formatTime(start_time, end_time) %>
    </p>
    <a href="/chart/<%= id %>" class="card-link">Details</a>
  </div>
</div>